@namespace Reprint

<root>
	@if (ShowBurnSponge)
	{
		<div class="row">
			<button @onclick=@(() => StrokeStep.MainMode = FactoryStroke.Mode.Paint)
				class="@(!StrokeStep.useFig && StrokeStep.MainMode == FactoryStroke.Mode.Paint ? "pressed " : "")">
				<svg src="icons/brush.svg"></svg>
			</button>
			<button @onclick=@(() => StrokeStep.MainMode = FactoryStroke.Mode.Burn)
				class="@(!StrokeStep.useFig && StrokeStep.MainMode == FactoryStroke.Mode.Burn ? "pressed " : "")">
				<svg src="icons/burn.svg"></svg>
			</button>
			<button @onclick=@(() => StrokeStep.MainMode = FactoryStroke.Mode.Sponge)
				class="@(!StrokeStep.useFig && StrokeStep.MainMode == FactoryStroke.Mode.Sponge ? "pressed " : "")">
				<svg src="icons/sponge.svg"></svg>
			</button>
			@if (ShowConfigurator)
			{
				<button @onclick=@(() => StrokeStep.useFig = true) class="@(StrokeStep.useFig ? "pressed " : "")">
					<svg src="icons/cog.svg"></svg>
				</button>
			}
		</div>
		<div style="margin-top: 8px"></div>
	}
	<div class="row strokecfg">
		@{
			var isMain = !StrokeStep.useFig;
			var stroke = StrokeStep.CurrentStroke;
			if (stroke.StrokeMode == FactoryStroke.Mode.Burn)
			{
				@if (isMain)
				{
					<button class="sm" @onclick=@(() => stroke.DarkenAmt++)>remove</button>
				}
				<span class="fixed-num">@(FormatLevelText(stroke.DarkenAmt))</span>
				@if (isMain)
				{
					<button class="sm" @onclick=@(() => stroke.DarkenAmt--)>add</button>
				}
				<div class="divier-v"></div>
				<span class="ex-pxl"
					style="background-color: @(Pixel.CalculateColor(Pixel.ColorLookup.Red, stroke.DarkenAmt < 0 ? -stroke.DarkenAmt : stroke.DarkenAmt, 0).Hex)"></span>
				<span class="ex-arrow">@(stroke.DarkenAmt < 0 ? "arrow_forward" : "arrow_back")</span>
				<span class="ex-pxl" style="background-color: #f00"></span>
			}
			else if (stroke.StrokeMode == FactoryStroke.Mode.Sponge)
			{
				@if (isMain)
				{
					<button class="sm" @onclick=@(() => stroke.DesatAmt++)>remove</button>
				}
				<span class="fixed-num">@(FormatLevelText(stroke.DesatAmt))</span>
				@if (isMain)
				{
					<button class="sm" @onclick=@(() => stroke.DesatAmt--)>add</button>
				}
				<div class="divier-v"></div>
				<span class="ex-pxl"
					style="background-color: @(Pixel.CalculateColor(Pixel.ColorLookup.Red, 0, stroke.DesatAmt < 0 ? -stroke.DesatAmt : stroke.DesatAmt).Hex)"></span>
				<span class="ex-arrow">@(stroke.DesatAmt < 0 ? "arrow_forward" : "arrow_back")</span>
				<span class="ex-pxl" style="background-color: #f00"></span>
			}
			else
			{
				@if (isMain)
				{
					foreach (Pixel.ColorLookup clr in System.Enum.GetValues<Pixel.ColorLookup>())
					{
						var sel = stroke.Color == clr;
						var color = Pixel.GetColor(clr);
						<button @onclick=@(() => stroke.Color = clr) class="clr sm @(sel ? "pressed" : "")"
							style="color: @color.color.Hex"><span>radio_button_@(sel ? "" : "un")checked</span><span
								class="lbl">@(color.Initial)</span></button>
					}
				}
				else
				{
					<span class="ex-pxl" style="background-color: @(Pixel.GetColor(stroke.Color).color.Hex)"></span>
				}
			}
		}
	</div>
</root>

@code
{
	public FactoryStepStroke StrokeStep { get; set; }
	public bool ShowBurnSponge { get; set; } = true;
	public bool ShowConfigurator { get; set; } = true;

	private string FormatLevelText(int level)
	{
		return (level < 0 ? "+" : "") + -level;
	}

	protected override int BuildHash() => System.HashCode.Combine(StrokeStep.CurrentStroke, StrokeStep.CurrentStroke.Color,
	StrokeStep.CurrentStroke.DarkenAmt, StrokeStep.CurrentStroke.DesatAmt, base.BuildHash());
}
